<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        label{
            width: 40px;
            text-align: right;
            display: inline-block;
        }
    </style>
</head>
<body>
    <div>
        <h2>详细内容</h2>
        <table>
            <!--<tbody>-->
                <!--<tr>-->
                    <!--<td>-->
                        <!--<label>id:</label>-->
                    <!--</td>-->
                    <!--<td>{{obj.id}}</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td><label>名字:</label></td>-->
                    <!--<td>{{obj.}}</td>-->
                <!--</tr>-->
            <!--</tbody>-->
            <p>id:{{obj.id}}
            <p>名字:{{obj.name}}</p>
            <p>学号:{{obj.stu_ID}}</p>
            <p>性别:{{obj.gender}}</p>
            <p>班级:{{obj.class_stu}}</p>
            <p>座位:{{obj.seat}}</p>
            <p>课程:{{obj.course}}</p>
            <p>成绩:{{obj.score}}</p>
            <p>状态:{{obj.status}}</p>
        </table>
    </div>
</body>
</html>

